<html>

<head>
  <title>Zwift Landform</title>
</head>

<body>
  <div id="app">
    <h1>{{ header }}</h1>
    <h3>{{ caption }}</h3>
    <ul>
      <li v-for="route in routes" v-on:click="loadRoute(route.stravaId)">{{ route.worldLabel }} - {{ route.label }}</li>
    </ul>
    <div v-if="selectedRoute">
      Tracking:
      <button v-on:click="switchTracking()">{{ socket ? 'Stop' : 'Start' }}</button>
      <table>
        <thead>
          <th>Distance</th>
          <th>Altitude</th>
          <th>Coordinates</th>
        </thead>
        <tbody>
          <tr v-for="milestone in selectedRoute">
            <td>{{ milestone.distance }}</td>
            <td>{{ milestone.altitude }}</td>
            <td>{{ milestone.latlng[0] }} : {{ milestone.latlng[1] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>

    const app = new Vue({
      el: '#app',
      data: {
        header: 'Hello Zwifter!',
        caption: 'Here\'s list of currently supported routes:',
        routes: [],
        selectedRoute: null,
        socket: null,
      },
      methods: {
        loadRoute(id) {
          fetch(`/routes/${id}`)
            .then(response => response.json())
            .then(route => this.selectedRoute = route)
            .then(() => this.socket && this.stopTracking())
        },
        switchTracking() {
          if (this.socket) {
            this.stopTracking();
          } else {
            this.socket = startTracking();
          }
        },
        stopTracking() {
          this.socket.close();
          this.socket = null;
        }
      },
      created() {
        loadRoutes();
      }
    });

    async function loadRoutes() {
      const response = await fetch('/routes');
      const routes = await response.json();

      app.routes = routes;
    }

    function startTracking() {
      const socket = io();

      socket.on('riderStatus', (position) => {
        console.log(`new position ${JSON.stringify(position, null, 3)}`);
      });

      socket.on('riderDisconnected', (error) => {
        console.log('riderDisconnected');
      });

      return socket;
    }

  </script>
</body>

</html>